* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  color: #333;
  background-color: #f9f9f9;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a90e2;
  color: white;
  padding: 1rem 2rem;
  }

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
} 

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67vh;
  background: linear-gradient(to right, #e0f7fa, #e1f5fe);
  text-align: center;
  padding: 2rem;
 }

.container-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
 
.sub-title p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button {
background-color: #4a90e2;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #357ab7;
  }
  
  .footer {
   text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
   
