* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}
  

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

}


header {
  background-color: #0FA7FF;
  
}

footer {
    background-color: black;
    color: white;
}


.logo {
  margin-left: 2rem; ;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

}

.main-nav {
  display: flex;
  gap: 20px;
  margin-right: 2rem;
 }

.link {
  color: white;
  align-items: center;
  gap: 20px;
  text-decoration: none;
} 

.container1 {
  display: flex;
  background-color:#9bfcffcc;
  height: 80vh;
  align-items: center;
  justify-content: center;

 }

.content {
 
}
.main-title h1 {
  font-size: 2rem;
  font-weight: bold;
}
 

.sub-title p {
  font-size: 1rem;
  justify-content: center;
}

.button {
  align-items: center;
  justify-content: center;
}


.container2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5vh;
 }

